.chat-sidebar:dir(ltr) {
    border-width: 0 1px 0 0;
}

.chat-sidebar:dir(rtl) {
    border-width: 0 0 0 1px;
}

chat-left-header-bar:dir(ltr) {
 border-right-width: 1px;
}

.chat-left-header-bar:dir(rtl) {
 border-left-width: 1px;
}

.chat-left-header-bar:dir(ltr),
.chat-right-header-bar:dir(rtl) {
  border-top-right-radius: 0;
}

.chat-right-header-bar:dir(ltr),
.chat-left-header-bar:dir(rtl) {
  border-top-left-radius: 0;
}
